<h1 class="text-center fw-bold text-uppercase">Todo</h1>  @*/Todo de xem dotnet watch de chay web*@ 
<button class="btn btn-success" type="button">
    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Todo" asp-action="TodoForm">Todo Form</a>
</button>